* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f1f4f9;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #000;
    text-align: center;
    padding: 20px;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; /* Yatay ve dikey hizalama */
    padding: 20px;
    flex-grow: 1; /* Kategoriler alanının ekranın geri kalanını doldurmasını sağlar */
}

.category {
    width: 45%;
    height: 100px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;
}

.category a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    position: absolute;
    text-align: center;
}
header img {
    max-width: 100%; /* Görselin genişliği ekran genişliğine göre ayarlanır */
    height: 90px;    /* Yükseklik oranı korunur */
    display: block;  /* Varsayılan olarak satır içi eleman olduğu için block olarak ayarlıyoruz */
    margin: 0 auto;  /* Ortalanmasını sağlar */
}

@media (max-width: 768px) {
    header {
        padding: 10px; /* Küçük ekranlarda daha az boşluk bırak */
    }

    h1 {
        font-size: 1.5rem; /* Başlığı biraz küçült */
    }
}


@media (max-width: 768px) {
    .category {
        width: 100%; /* Küçük ekranlarda tam genişlik */
    }

    .categories {
        justify-content: center; /* Telefon ekranlarında tam ortada hizalanma */
        align-items: center;
        text-align: center;
    }
}
